NY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="17"
       stCamera:FocusDistance="0.4"
       stCamera:ApertureValue="6.643856">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000111"
        stCamera:ResidualStandardDeviation="0.000092"
        stCamera:RadialDistortParam1="0.041727"
        stCamera:RadialDistortParam2="-0.049248"
        stCamera:RadialDistortParam3="0.014091">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000007"
        stCamera:ResidualStandardDeviation="0.000005"
        stCamera:ScaleFactor="0.99948"
        stCamera:RadialDistortParam1="0.001118"
        stCamera:RadialDistortParam2="-0.001092"
        stCamera:RadialDistortParam3="0.000328"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000111"
        stCamera:ResidualStandardDeviation="0.000092"
        stCamera:RadialDistortParam1="0.041727"
        stCamera:RadialDistortParam2="-0.049248"
        stCamera:RadialDistortParam3="0.014091"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000011"
        stCamera:ResidualStandardDeviation="0.000006"
        stCamera:ScaleFactor="1.001074"
        stCamera:RadialDistortParam1="-0.001273"
        stCamera:RadialDistortParam2="0.001248"
        stCamera:RadialDistortParam3="-0.000367"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.000622"
        stCamera:VignetteModelParam1="-0.417076"
        stCamera:VignetteModelParam2="0.142873"
        stCamera:VignetteModelParam3="-0.03148"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe Systems, Inc."
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 12-24mm F4.5-5.6 II DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 12-24mm F4.5-5.6 II DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="12"
       stCamera:FocusDistance="2"
       stCamera:ApertureValue="6.33985">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.001254"
        stCamera:ResidualStandardDeviation="0.000889"
        stCamera:RadialDistortParam1="0.028485"
        stCamera:RadialDistortParam2="-0.03229"
        stCamera:RadialDistortParam3="0.005942">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.00001"
        stCamera:ResidualStandardDeviation="0.000008"
        stCamera:ScaleFactor="0.999898"
        stCamera:RadialDistortParam1="0.001284"
        stCamera:RadialDistortParam2="-0.000979"
        stCamera:RadialDistortParam3="0.000208"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.001254"
        stCamera:ResidualStandardDeviation="0.000889"
        stCamera:RadialDistortParam1="0.028485"
        stCamera:RadialDistortParam2="-0.03229"
        stCamera:RadialDistortParam3="0.005942"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000015"
        stCamera:ResidualStandardDeviation="0.000009"
        stCamera:ScaleFactor="1.000669"
        stCamera:RadialDistortParam1="-0.001563"
        stCamera:RadialDistortParam2="0.001203"
        stCamera:RadialDistortParam3="-0.000253"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.000633"
        stCamera:VignetteModelParam1="-0.231036"
        stCamera:VignetteModelParam2="0.040029"
        stCamera:VignetteModelParam3="-0.006785"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe Systems, Inc."
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 12-24mm F4.5-5.6 II DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 12-24mm F4.5-5.6 II DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="17"
       stCamera:FocusDistance="0.33"
       stCamera:ApertureValue="6.643856">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000094"
        stCamera:ResidualStandardDeviation="0.000071"
        stCamera:RadialDistortParam1="0.036557"
        stCamera:RadialDistortParam2="-0.04158"
        stCamera:RadialDistortParam3="0.011719">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000007"
        stCamera:ResidualStandardDeviation="0.000006"
        stCamera:ScaleFactor="0.999295"
        stCamera:RadialDistortParam1="0.001114"
        stCamera:RadialDistortParam2="-0.001041"
        stCamera:RadialDistortParam3="0.000294"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000094"
        stCamera:ResidualStandardDeviation="0.000071"
        stCamera:RadialDistortParam1="0.036557"
        stCamera:RadialDistortParam2="-0.04158"
        stCamera:RadialDistortParam3="0.011719"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000008"
        stCamera:ResidualStandardDeviation="0.000005"
        stCamera:ScaleFactor="1.001296"
        stCamera:RadialDistortParam1="-0.001232"
        stCamera:RadialDistortParam2="0.00118"
        stCamera:RadialDistortParam3="-0.000335"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.000536"
        stCamera:VignetteModelParam1="-0.41872"
        stCamera:VignetteModelParam2="0.14445"
        stCamera:VignetteModelParam3="-0.031728"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe Systems, Inc."
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 12-24mm F4.5-5.6 II DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 12-24mm F4.5-5.6 II DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="17"
       stCamera:FocusDistance="0.28"
       stCamera:ApertureValue="6.643856">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000077"
        stCamera:ResidualStandardDeviation="0.000049"
        stCamera:RadialDistortParam1="0.030173"
        stCamera:RadialDistortParam2="-0.031881"
        stCamera:RadialDistortParam3="0.00869">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000007"
        stCamera:ResidualStandardDeviation="0.000005"
        stCamera:ScaleFactor="0.999075"
        stCamera:RadialDistortParam1="0.001026"
        stCamera:RadialDistortParam2="-0.000906"
        stCamera:RadialDistortParam3="0.000234"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000077"
        stCamera:ResidualStandardDeviation="0.000049"
        stCamera:RadialDistortParam1="0.030173"
        stCamera:RadialDistortParam2="-0.031881"
        stCamera:RadialDistortParam3="0.00869"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000008"
        stCamera:ResidualStandardDeviation="0.000006"
        stCamera:ScaleFactor="1.001586"
        stCamera:RadialDistortParam1="-0.00118"
        stCamera:RadialDistortParam2="0.001065"
        stCamera:RadialDistortParam3="-0.000277"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.000509"
        stCamera:VignetteModelParam1="-0.419973"
        stCamera:VignetteModelParam2="0.145734"
        stCamera:VignetteModelParam3="-0.031669"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe Systems, Inc."
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 12-24mm F4.5-5.6 II DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 12-24mm F4.5-5.6 II DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="20"
       stCamera:FocusDistance="999999995904"
       stCamera:ApertureValue="6.918863">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000036"
        stCamera:ResidualStandardDeviation="0.000024"
        stCamera:RadialDistortParam1="0.071045"
        stCamera:RadialDistortParam2="-0.079557"
        stCamera:RadialDistortParam3="0.025485">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000004"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="1.000024"
        stCamera:RadialDistortParam1="0.001497"
        stCamera:RadialDistortParam2="-0.002086"
        stCamera:RadialDistortParam3="0.000856"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000036"
        stCamera:ResidualStandardDeviation="0.000024"
        stCamera:RadialDistortParam1="0.071045"
        stCamera:RadialDistortParam2="-0.079557"
        stCamera:RadialDistortParam3="0.025485"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000003"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="1.000377"
        stCamera:RadialDistortParam1="-0.001791"
        stCamera:RadialDistortParam2="0.002463"
        stCamera:RadialDistortParam3="-0.000978"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.000844"
        stCamera:VignetteModelParam1="-0.542195"
        stCamera:VignetteModelParam2="0.264584"
        stCamera:VignetteModelParam3="-0.08063"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe Systems, Inc."
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 12-24mm F4.5-5.6 II DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 12-24mm F4.5-5.6 II DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="20"
       stCamera:FocusDistance="2"
       stCamera:ApertureValue="6.918863">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000036"
        stCamera:ResidualStandardDeviation="0.000024"
        stCamera:RadialDistortParam1="0.068779"
        stCamera:RadialDistortParam2="-0.076397"
        stCamera:RadialDistortParam3="0.024476">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000003"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="0.999949"
        stCamera:RadialDistortParam1="0.001449"
        stCamera:RadialDistortParam2="-0.002011"
        stCamera:RadialDistortParam3="0.000827"/>
       <stCamera:ChromaticGreenModel
        stCamera:ResidualMeanError="0.000036"
        stCamera:ResidualStandardDeviation="0.000024"
        stCamera:RadialDistortParam1="0.068779"
        stCamera:RadialDistortParam2="-0.076397"
        stCamera:RadialDistortParam3="0.024476"/>
       <stCamera:ChromaticBlueGreenModel
        stCamera:ResidualMeanError="0.000003"
        stCamera:ResidualStandardDeviation="0.000002"
        stCamera:ScaleFactor="1.000468"
        stCamera:RadialDistortParam1="-0.00174"
        stCamera:RadialDistortParam2="0.00238"
        stCamera:RadialDistortParam3="-0.000943"/>
       <stCamera:VignetteModel
        stCamera:ResidualMeanError="0.000787"
        stCamera:VignetteModelParam1="-0.543138"
        stCamera:VignetteModelParam2="0.266392"
        stCamera:VignetteModelParam3="-0.081362"/>
       </rdf:Description>
      </stCamera:PerspectiveModel>
      </rdf:Description>
     </rdf:li>
     <rdf:li>
      <rdf:Description
       stCamera:Author="Adobe Systems, Inc."
       stCamera:Make="SONY"
       stCamera:CameraRawProfile="True"
       stCamera:CameraPrettyName="SONY"
       stCamera:LensPrettyName="SIGMA 12-24mm F4.5-5.6 II DG HSM"
       stCamera:ProfileName="Adobe (SIGMA 12-24mm F4.5-5.6 II DG HSM, SONY)"
       stCamera:SensorFormatFactor="1"
       stCamera:FocalLength="20"
       stCamera:FocusDistance="1"
       stCamera:ApertureValue="6.918863">
      <stCamera:PerspectiveModel>
       <rdf:Description
        stCamera:Version="2"
        stCamera:ResidualMeanError="0.000035"
        stCamera:ResidualStandardDeviation="0.000024"
        stCamera:RadialDistortParam1="0.066194"
        stCamera:RadialDistortParam2="-0.072742"
        stCamera:RadialDistortParam3="0.023299">
       <stCamera:ChromaticRedGreenModel
        stCamera:ResidualMeanError="0.000003"
        stCamera:ResidualStandardDeviation="0.000002"